*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    background-color: #faedef;
}
.main{
    background-color: white;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    padding: 10px;
    border-bottom-right-radius: 35%;
}
.container{
    display: flex;
    font-size: 20px;
}
.container h5{
    font-weight: 400;
}
.container div{
    margin-right: 30px;
}
.container button{
    padding: 5px;
    padding-right: 30px;
    border: 1px solid black;
    background-color: white;
    margin-top: 8px;
}
.special{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.border{
    border-bottom: 1px solid black;
    width: 440px;
}
.icon{
    background-color: darkviolet;     
    border-radius: 50%;
    padding: 8px;
    color: white;
}
.main strong{
    color: darkviolet;
}
.headings{
    padding-top: 25px;
    padding-left: 5px;
    font-size: 35px;
    font-weight: 500;
    margin-top: -1rem;
}

@media only screen and (max-width:600px) {
   .main{
    width: 50%;
   }  
   .special{
    position: relative;
   }
   .border{
    position: relative;
   }
   .icon{
    position: absolute;
    margin-left: 100px;
   }
}